{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["id"]
        },
        "allowChildren": false
      }
    ],
    "react/require-default-props": [2, { "forbidDefaultForRequired": false }]
  }
}
