.f-a-fade-enter {
  opacity: 1;
}

.f-a-fade-enter.f-a-fade-enter-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

.f-a-fade-exit {
  opacity: 1;
}

.f-a-fade-exit.f-a-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in 500ms;
}
